.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
  margin-left: 65px;
}
/* link items */
.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: pink;
  transition: color 0.2s;
}
/* hover link cover */
.bm-item:hover {
  color: orange;
}
/* button position */
.bm-burger-button {
  position: relative;
  width: 20px;
  height: 30px;
  left: 20px;
  top: 26px;
}

.bm-burger-bars {
  background: #D54C47;
  border-radius: 4px;
}
/* Close x button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  background: rgb(39, 39, 39);
  border-radius: 20px;
}

.bm-cross {
  background: rgb(138, 138, 138);
}
/* side menu body */
.bm-menu {
  background: #D54C47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
