.hot {
    color: green;
    text-align: center;
    margin-top: 50px;
    width: 100vw;
}
.container {
    margin: 0px;
    padding: 0px;
}
#home-img {
    width: 100vw;
    margin: 0px;
    margin-top: 70px;
}